@font-face {
  font-family: "iconfont"; /* Project id 3583577 */
  src: url('iconfont.woff2?t=1660223727248') format('woff2'),
       url('iconfont.woff?t=1660223727248') format('woff'),
       url('iconfont.ttf?t=1660223727248') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-voice:before {
  content: "\e6c1";
}

.icon-frame:before {
  content: "\e614";
}

.icon-bgm:before {
  content: "\e601";
}

