@font-face {
    font-family: "Aqum-US";
    src: url("Aqum-US.eot"); /* IE9 */
    src: url("Aqum-US.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("Aqum-US.woff") format("woff"), /* chrome、firefox */
    url("Aqum-US.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("Aqum-US.svg#Aqum-US") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


